.pics {
    width: 54%;
    margin-top: 30px;
    border-radius: 10px;
}

/* .p22 {
 
    margin-top: 10px;
    margin-left: 740px;
}
.p11 {
    border-radius: 8px;
    border-color: red;
    width: 140px;
    height: 36px;
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-left: 740px;

} */
.abouts {
    margin-top: -10%;
    margin-left: 55%;
}