.footer {
  background-color: rgba(0, 0, 0, 0.945);
  color: #fff;
  padding: 30px 20px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-top img {
  width: 280px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.279);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.footer-links h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  color: #888888;
  text-decoration: none;
  margin-bottom: 6px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: rgb(191, 24, 88);
  text-decoration: underline;
}

.footer-links input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

.footer-links p {
  color: #aaa;
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  color: #aaa;
  font-size: 14px;

}

.textiz {
    margin-left: 20px;
}
.textiz1 {
  text-align: center;
 margin-left: -20px;
 font-size: 18px;
}
.textiz:hover {
  color: rgb(191, 24, 88);
}