#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #00000076; */
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background: #000; */
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 28;
}

.show {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 80%;
  /* margin-top: ; */
}
.show:hover {
  color: crimson;
}

.link {
  margin-left: 80%;
 
}
.border1{
 
   color:  #127681;
   border-radius: 10;
  background-color: white;
   border-color: #127681;
   border-radius: 10px;

}
.border2{
  margin-top: 10px;
   color:  #811212;
   border-radius: 10;
  background-color: white;
   border-color: #d10d0d;
   border-radius: 10px;

}


.SwiperSlide .slider {
   background-image: 'https://media.istockphoto.com/id/814423752/photo/eye-of-model-with-colorful-art-make-up-close-up.jpg?s=612x612&w=0&k=20&c=l15OdMWjgCKycMMShP8UK94ELVlEGvt7GmB_esHWPYE='; 
  
              
         
}
.show1 {
  margin-left: 70%;
  margin-top: -32px;
  font-size: 20px;
}

.show1 a {
  color: rgb(233, 8, 45);
  text-decoration: none;
  font-weight: bolder;

   
}
.show1:hover {
  text-decoration: underline;
  color: rgb(233, 8, 45);

}
.slide {
  background-image: url('https://images.alphacoders.com/100/thumb-1920-1002901.jpg ');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide1 {
  background-image: url('https://myshowz.infinityfreeapp.com/assets/images/banner2.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2 {
  background-image: url('https://myshowz.infinityfreeapp.com/assets/images/banner4.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}