/* .nav-item a:hover{
    color: rgb(206, 22, 53);
    
}
.click {
     margin-left: 200px;
     font-size: 28px;
}
.btn11 {
  
    background: #7d2ae8;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 40px #7d2ae8;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.click {
    background-color: black;
} */